# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore

# Documentation
README.md

# Environment files (копируем только .env)
.env.example
env_example.txt
